<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hj.study.mapper.BldMapper">

    <select id="getBldList" resultType="java.util.LinkedHashMap">
        select bld_adm_cd, bld_name, utmk_x, utmk_y
        from tm_bld
        limit 10
    </select>

</mapper>
